.anypage-message.elgg-message {
	cursor: auto;
}

.anypage-list > li {
    border-top: 1px solid #dcdcdc;
    padding: 10px;
}

.anypage-list > li:last-child {
    border-bottom: 1px solid #dcdcdc;
}

.anypage-list > li .elgg-listing-summary-content p {
    margin: 5px 0;
}

#anypage-render-options [data-render-type] {
	display: none;
}

#anypage-render-options[data-render-type="html"] [data-render-type="html"] {
	display: block;
}

#anypage-render-options[data-render-type="view"] [data-render-type="view"] {
	display: block;
}